/* BuildingOccupancy.css */
.building-occupancy {
    font-family: Arial, sans-serif;
    display: flex;
    padding: 20px;
  }
  
  .floor {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5; /* Gris clair */
  }
  
  .floor:last-child {
    margin-right: 0;
  }
  
  .floor h2 {
    margin-bottom: 10px;
  }
  
  .percentage {
    font-size: 24px;
    font-weight: bold;
    color: #3366ff; /* Bleu foncé */
  }
  
  .room-list {
    list-style: none;
    padding: 0;
  }
  
  .room {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .room .status-true {
    color: #2ecc71; /* Vert */
    font-style: italic;
  }
  
  .room .status-false {
    color: #e74c3c; /* Rouge */
    font-weight: bold;
  }
  
  .room .status-undefined {
    color: #999; /* Gris */
    text-decoration: underline;
  }
  
  .room.occupied {
    background-color: #c8e6c9; /* Vert clair */
  }
  
  .room.not-occupied {
    background-color: #ffcdd2; /* Rouge clair */
  }
  
  .room.undefined {
    background-color: #e0e0e0; /* Gris */
  }
  